$white: #FFFFFF;
$black: #000000;
$themePurple: #9B33E7;
$dropLinkFontColor: #8E8D8D;
$dropLinkBorder: #c7c6c6;
$dropLinkHoverBg: #F7F7FB;
$footerBg: #333333;
$linearPurple: #cf11da;
$linearBlue: #3482fd;
$modalBg: #F3F3F3;
$boxShadow1: #00000073;
$itemBorder1: #887AD9;
$healthy: #10ac10;
$slightlyFat: #e0e03c;
$obese: #ffa600;
$unHealthy: #ff0000;